fastapi==0.133.0
uvicorn[standard]==0.41.0
pydantic==2.12.5
python-jose[cryptography]==3.5.0
sqlalchemy[asyncio]==2.0.47
asyncpg==0.31.0
alembic==1.18.4
httpx==0.28.1

# Dependencies for testing
pytest
pytest-asyncio
aiosqlite
