openapi: 3.0.3
info:
  title: SelfMonitor Advanced Analytics & ML Pipeline
  description: >-
    Enterprise-grade analytics and machine learning platform providing:
    - Comprehensive ML model lifecycle management
    - Advanced data pipeline orchestration  
    - Real-time business intelligence dashboards
    - Customer segmentation and cohort analysis
    - Anomaly detection and predictive analytics
    - Automated feature engineering
    - Data quality monitoring and validation
    - API marketplace for B2B ML services
  version: 2.0.0
  contact:
    name: SelfMonitor Analytics Team
    email: analytics@selfmonitor.ai
  license:
    name: Proprietary
    url: https://selfmonitor.ai/license

servers:
  - url: https://api.selfmonitor.ai/analytics/v2
    description: Production Analytics API
  - url: https://staging-api.selfmonitor.ai/analytics/v2  
    description: Staging Analytics API

tags:
  - name: ML Models
    description: Machine learning model lifecycle management
  - name: Data Pipelines
    description: ETL and data processing pipeline orchestration
  - name: Business Intelligence
    description: Reports, dashboards, and business metrics
  - name: Advanced Analytics
    description: Segmentation, cohort analysis, and predictive insights
  - name: Data Quality
    description: Data validation and monitoring
  - name: API Marketplace
    description: B2B API monetization and partner services
paths:
  /jobs:
    post:
      summary: Trigger an analytics job
      tags:
        - Jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRequest'
      responses:
        '202':
          description: Job has been accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
  /jobs/{job_id}:
    get:
      summary: Get the status of an analytics job
      tags:
        - Jobs
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The status of the job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '404':
          description: Job not found.
  /forecast/cash-flow:
    post:
      summary: Generate a cash flow forecast
      tags:
        - Analytics
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForecastRequest'
      responses:
        '200':
          description: A list of daily projected balances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlowResponse'
        '502':
          description: Error communicating with a downstream service.
  /reports/mortgage-readiness:
    get:
      summary: Generate a Mortgage Readiness PDF Report
      tags:
        - Reports
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A PDF report summarizing income stability.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
components:
  schemas:
    ForecastRequest:
      type: object
      properties:
        days_to_forecast:
          type: integer
          default: 30
          description: The number of days into the future to forecast.
    DataPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        balance:
          type: number
          format: float
    CashFlowResponse:
      type: object
      properties:
        forecast:
          type: array
          items:
            $ref: '#/components/schemas/DataPoint'
    JobRequest:
      type: object
      properties:
        job_type:
          type: string
          enum: [run_etl_transactions, train_categorization_model]
          description: The type of job to run.
        parameters:
          type: object
          description: Job-specific parameters.
          example:
            start_date: '2023-01-01'
            end_date: '2023-12-31'
      required:
        - job_type
    JobStatus:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        job_type:
          type: string
          enum: [run_etl_transactions, train_categorization_model]
        status:
          type: string
          enum: [pending, running, completed, failed]
        created_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
          nullable: true
        result:
          type: object
          nullable: true
          example:
            message: 'ETL completed successfully.'
            rows_processed: 15000
      required:
        - job_id
        - job_type
        - status
        - created_at
