# Core application dependencies
fastapi
python-multipart
uvicorn[standard]
pydantic
sqlalchemy[asyncio]
asyncpg
alembic
httpx
opentelemetry-distro
opentelemetry-instrumentation-fastapi

# Dependencies for testing
pytest
pytest-asyncio
pact-python==3.2.1
aiosqlite
