fastapi
uvicorn[standard]
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
prometheus-fastapi-instrumentator
pyotp
qrcode[pil]
redis

# Dependencies for testing
pytest
httpx
