fastapi
uvicorn[standard]
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
prometheus-fastapi-instrumentator
pyotp
qrcode[pil]

# Event streaming dependencies
kafka-python==2.0.2
aiokafka==0.8.11
avro==1.11.3
confluent-kafka[avro]==2.2.0

# Dependencies for testing
pytest
httpx
